@using Microsoft.AspNet.Identity
@model int?
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

        <ul class="nav_profile">            
            <li>
                @{
                    var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                }
                <img src="@imgUrl" height="50" width="50" onerror="this.onerror = null;this.src = '/Content/images/profile/avatar.png'"/>
            </li>
            <li>
                <a href="@Url.Action("CustomChangePassword","Manage")" title="Manage">Hello @Url.Content(User.Identity.GetUserName())!<span class="badge" style="background: red; position: relative; top: -15px;">@Model</span></a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + " !", "CustomChangePassword", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
