@using Microsoft.AspNet.Identity

@model DeadLiner.Models._LoginPartialView
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav_profile">
            @foreach (var file in Model.UploadImg)
            {
                <img src="@Url.Action("Media","Home", new { id = file.Id })" height="50" width="50" />
            }
            <li>
                <a href="@Url.Action("CustomChangePassword","Manage")" title="Manage">Hello @Url.Content(User.Identity.GetUserName())!<span class="badge" style="background: red; position: relative; top: -15px;">@Model.TaskCount</span></a>
                @*@Html.ActionLink("Hello " + User.Identity.GetUserName() + " !", "CustomChangePassword", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
