<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DeadLiner</title>
    <script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <script src="~/Scripts/jquery.min.js"></script>
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300italic,300,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    @RenderSection("cssStyle", required: false)
    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/themes/jquery-ui.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div id="nav" class="coLeft">
    <div id="logo">
        <a id="logoName" href="@Url.Action("Index","Home")">
            <span id="mlx">DeadLiner</span>  
            <img src="~/Content/images/logo.png" alt="Alternate Text" />
        </a>
    </div>
    <div id="navName">
        <p id="name">main navigation</p>
    </div>
    <ul id="navigations">
        <li id="dashboard">
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li id="taskManager">
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Task Manager</span>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("MyTasks","TasksModels")">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <span>My Tasks</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="userManager">
            <a class="cursor_pointer">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>User Manager</span>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <ul>
                <li>
                    <a href="@Url.Action("Index","ApplicationUsers")">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <span>Show Users</span>
                    </a>
                </li>
            </ul>
        </li>
        <li id="settings">
            <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span>Settings</span>
                <i class="fa fa-angle-left" aria-hidden="true"></i>
            </a>
            <ul>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <span>General Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-circle-o" aria-hidden="true"></i>
                        <span>Change Password</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<ul id="minimizedNavigations">
    <li id="minimizedDashboard">
        <a href="#">
            <span>Dashboard</span>
        </a>
    </li>
    <li id="minimizedTaskManager">
        <a href="#">
            <span>Task Manager</span>
        </a>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>Manage Tasks</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>Add New Task</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>My Tasks</span>
                </a>
            </li>
        </ul>
    </li>
    <li id="minimizedUserManager">
        <a href="#">
            <span>User Manager</span>
        </a>
        <ul>
            <li>
                <a href="@Url.Action("Index","ApplicationUsers")">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>Manage Users</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>Add New User</span>
                </a>
            </li>
        </ul>
    </li>
    <li id="minimizedSettings">
        <a href="#">
            <span>Settings</span>
        </a>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>General Settings</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-circle-o" aria-hidden="true"></i>
                    <span>Change Password</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
<div id="content" class="coRight">
    <div id="topPanel" class="rows" style="display: flex; justify-content: space-between;align-items: center">
        <div id="bars" class="col-md-6">
            <a href="#">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
        </div>
        <div id="account" class="col-6">
            @*@Html.Partial("_LoginPartial")*@
            @Html.Action("SendDataForNotify", "TasksModels")
        </div>
    </div>
    <!-- C O N T E N T   H E A D L I N E  -->
    <div class="contentHeadline">
        <div class="left">
        </div>
        <div class="right">
            <ul>
                @*<li>
                        <a href="#">
                            <i class="fa fa-tachometer" aria-hidden="true"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li class="after">
                        <span>&gt;</span>
                        <span>Dashboard</span>
                    </li>*@
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="contentArea">
        <!-- H E R E -->
        @RenderBody()

    </div>
    <div id="footer">
        <span><b>Version</b> 1.0</span>
    </div>
</div>
<div class="clear"></div>

@Scripts.Render("~/bundles/lib")
    
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>    
@RenderSection("scripts", required: false)
@RenderSection("scriptDateTimePicker", required: false)
</body>
</html>
