@using DeadLiner.Models
@model LoginViewModel
@*@{
    ViewBag.Title = "Log in";
    Layout = null;
        }

        <h2>@ViewBag.Title.</h2>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Use a local account to log in.</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register as a new user", "Register")
                        </p>
                        @*Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>
                    }
                </section>
            </div>
            <div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>

    @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }*@


@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_RegisterView.cshtml";
}

<div class="agile-info_w3ls agile-info_w3ls_sub">
    <h3>Login</h3>
    <div class="agile-info_w3ls_grid second">
        <section id="loginForm">
            <form action="/" method="post" role="form">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input class="marginbottom" placeholder="User Name" data-val="true" data-val-required="The User Name field is required." id="UserName" name="UserName" type="text" value="">
                <input type="password" name="Password" placeholder="Password" required="" id="password" class="marginbottom">
                <div class="agile_remember">
                    <div class="agile_remember_left">
                        <div>
                            @*<label>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </label>*@
                            <label class="checkbox">
                                <input data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" type="checkbox" value="true"><i> </i>remember me
                                <input name="RememberMe" type="hidden" value="false">
                            </label>
                        </div>
                    </div>
                    <div class="agile_remember_right">
                        <a href="@Url.Action("ForgotPassword","Account")">Forgot Password?</a>
                    </div>
                    <div class="clear"></div>
                </div>

                <input type="submit" value="Sign In">
            </form>
        </section>
        <h4>Continue With</h4>
        <div class="social_icons agileinfo">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
        <h5>Don't have an account? <a href="@Url.Action("Register","Account")">Sign Up</a></h5>
    </div>
</div>
