@model DeadLiner.Models.TasksModel
@{
    Layout = null;  
}
@using (Html.BeginForm("delete", "TasksModels", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.Id)    
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Heading)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Heading)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.StartDate)
            </dt>
            
            <dd>
                @Html.DisplayFor(model => model.StartDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EndDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EndDate)
            </dd>
        </dl>
        
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </div>
}
