@model DeadLiner.Models.TaskViewModel

@{
    ViewBag.Title = "Details";
    Layout = null;

    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("Details")        
    };
}
@using (Ajax.BeginForm(options))
{
    <h2>Details</h2>

    <div>
        <h4>TasksModel</h4>
        <hr/>
        <dl class="dl-horizontal" id="tabledata">
            <dt>
                @Html.DisplayNameFor(model => model.Heading)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Heading)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Content)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>
            <dd>
                @foreach (var item in Model.Users.Where(x => x.Checked))
                {
                    @Html.DisplayFor(model => item.Name)
                }
            </dd>
        </dl>
    </div>
}
