@model DeadLiner.Models.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="work-play">
            <h3>Settings</h3>
            <h4>Change Password Form</h4>
            <hr />
            <h4>Old Password</h4>
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            <h4>New Password</h4>
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            <h4>Re-Type Password</h4>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
     </div>
    <div class="update">
        <input type="submit" value="Change password" class="btn btn-default btndesign" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
