@*@model DeadLiner.Models.ApplicationUser


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="profile-content">
            <h3>User Name</h3>
            <div class="input-group">
                <span class="input-group-btn">
                    <select class="btn btn-default button-one" name="ext">
                        <option selected="">Ms.</option>
                        <option>Mr.</option>
                        <option>Mrs.</option>
                    </select>
                </span>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
            <h3>Email</h3>
            <div class="email-group">
                <div class="email-icon"><span></span></div>
                <div class="email-form">
                    
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    
                </div>
                <div class="clear"></div>
            </div>
            <h3>Phone Number</h3>
            <div class="phone-group">
                <div class="cell-icon"><span></span></div>
                <div class="cell-form">
                    
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <h3>Gender</h3>
        <div class="radio-btns">
            <div class="swit">
                <div class="check_box">
                    <div class="radio2 colorGreen">@Html.RadioButtonFor(model => model.Gender, 0) <label><input type="radio" name="radio" checked=""><i></i><img src="~/images/man.png" alt=" " /></label> </div>
                </div>
                <div class="check_box">
                    <div class="radio2"> <label><input type="radio" name="radio"><i></i><img src="~/images/woman.png" alt=" " /></label> </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="update">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    }*@
@*<div class="col-md-6 form">
    <p>User Type</p>
    @Html.DropDownListFor(x => x.Gender, new SelectList(new[] { "Male", "Female" }), "Select Gender")
    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
</div>*@