
@using Microsoft.AspNet.Identity
@model DeadLiner.Models.UserProfileViewModel
@{
    ViewBag.Title = "CustomChangePassword";
}

@{
    ViewBag.Title = "Manage";
}

<div class="main">
    <div class="content">
        <div class="sap_tabs">
            <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                <div class="portfolio-grid">
                    <div class="port-left">
                        <ul class="resp-tabs-list">
                            @{
                                var imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                            }
                            <img src="@imgUrl" height="141.84" width="141.84" onerror="this.onerror=null;this.src='/Content/images/profile/avatar.png'" class="img-responsive" />
                            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Basic Details</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>Interests</span></li>
                            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>Profile Picture</span></li>
                            @*<li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>Work & Play</span></li>*@
                            <li class="resp-tab-item" aria-controls="tab_item-4" role="tab"><span>Change Password</span></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                    <div class="port-right">
                        <div class="resp-tabs-container">
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                <div class="profile-content">
                                    @using (Html.BeginForm("CustomChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <h3>User Name</h3>
                                        <div class="phone-group">
                                            <div class="cell-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.EditorFor(model => model.Users.UserName)
                                                @Html.ValidationMessageFor(model => model.Users.UserName, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                        <h3>First Name</h3>
                                        <div class="phone-group">
                                            <div class="cell-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.EditorFor(model => model.Users.Name)
                                                @Html.ValidationMessageFor(model => model.Users.Name, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                        <h3>Surname</h3>
                                        <div class="phone-group">
                                            <div class="cell-icon"><i class="fa fa-user-o" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.EditorFor(model => model.Users.Surname)
                                                @Html.ValidationMessageFor(model => model.Users.Surname, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clear"></div>
                                        </div>

                                        <h3>Phone Number</h3>
                                        <div class="phone-group">
                                            <div class="cell-icon newIcon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.EditorFor(model => model.Users.PhoneNumber)
                                                @Html.ValidationMessageFor(model => model.Users.PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <h3>Gender</h3>
                                        <div class="swit">
                                            <div class="check_box">
                                                <div class="radio2 colorGreen">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.Users.Gender, "Male")
                                                        <i></i><img src="~/images/man.png" alt=" " />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="check_box">
                                                <div class="radio2">
                                                    <label>
                                                        @Html.RadioButtonFor(model => model.Users.Gender, "Female")
                                                        <i></i><img src="~/images/woman.png" alt=" " />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                                <div class="update updateMargin">
                                                    <input type="submit" value="Update" class="btn btn-default btndesign" />
                                                </div>
                                                <div class="clear"></div>

                                                @Html.HiddenFor(x => x.Users.Email)
                                                @Html.HiddenFor(x => x.Users.Gender)
                                                @Html.HiddenFor(x => x.Users.AccessFailedCount)
                                                @Html.HiddenFor(x => x.Users.EmailConfirmed)
                                                @Html.HiddenFor(x => x.Users.LockoutEnabled)
                                                @Html.HiddenFor(x => x.Users.LockoutEndDateUtc)
                                                @Html.HiddenFor(x => x.Users.PasswordHash)
                                                @Html.HiddenFor(x => x.Users.PhoneNumberConfirmed)
                                                @Html.HiddenFor(x => x.Users.SecurityStamp)
                                                @Html.HiddenFor(x => x.Users.TwoFactorEnabled)
                                                @Html.HiddenFor(x => x.Users.UserStatus)
                                    }
                                </div>
                            </div>

                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">

                                @* INTEREST *@

                            </div>

                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
                                <div class="social-life">
                                    @if (User.Identity.GetUserName() != null)
                                    {
                                        imgUrl = Url.Content("~/Content/images/profile/" + User.Identity.GetUserName() + ".png") + "?time=" + DateTime.Now.ToString();
                                        <div class="upimage">
                                            <div class="accimg">
                                                <img src="@imgUrl" height="250" width="250" onerror="this.onerror=null;this.src='/Content/images/profile/avatar.png'" />
                                            </div>
                                            <div class="mngimg">
                                                @using (Html.BeginForm("UploadPhoto", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                {
                                                    <div class="btn btn-default browseimg">
                                                        <input type="file" name="file" id="files" onchange="this.form.submit()" class="btn-default" />
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                    <p style="font-size: 18px">Choose your profile photo</p>
                                </div>
                            </div>
                            @*<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
                                    <div class="work-play">

                                    </div>

                                </div>*@
                            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-4">
                                @using (Html.BeginForm("CustomChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="work-play">
                                        <h3>Settings</h3>
                                        <h4>Change Password Form</h4>
                                        <hr />
                                        <h4>Old Password</h4>
                                        <div class="phone-group">
                                            <div class="cell-icon iconPassword"><i class="fa fa-key" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.PasswordFor(m => m.ChangePasswordViewModels.OldPassword)
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <h4>New Password</h4>
                                        <div class="phone-group">
                                            <div class="cell-icon iconPassword"><i class="fa fa-key" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding ">
                                                @Html.PasswordFor(m => m.ChangePasswordViewModels.NewPassword)
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                        <h4>Re-Type Password</h4>
                                        <div class="phone-group">
                                            <div class="cell-icon iconPassword"><i class="fa fa-key" aria-hidden="true"></i></div>
                                            <div class="cell-form formPadding">
                                                @Html.PasswordFor(m => m.ChangePasswordViewModels.ConfirmPassword)
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="update changePassword">
                                        <input type="submit" value="Change password" class="btn btn-default btndesign" />
                                    </div>
                                    <div class="clear"></div>
                                }

                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>

            </div>
        </div>

    </div>
</div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true, // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });

            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
}
@section cssStyle
{
    <link href="~/Content/UserProfileStyle.css" rel="stylesheet" />
}

